body {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Two columns: 75% for .prod, 25% for .varukorg */
    grid-template-rows: 1fr 1fr 1fr; /* Three rows of equal height */
    background-color: #FF00B2;
}

.prod {
    grid-column: 1; /* Place .prod in the first column */
    grid-row: 2; /* Place .prod in the second row */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    border: solid 5px black;
    border-radius: 25px;
    background-color: #FF36FC;
    padding-bottom: 1%;
    width: 90%; /* Use full width of the grid cell */
}

.varukorg {
    grid-column: 2 ; 
    grid-row: 2 ; 
    text-align: center;
    background-color: #FF36FC;
    border: solid 5px black;
    border-radius:25px ;
}

img {
    max-width: 25%;
    align-content: center;
}

button {
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

header{
text-align: center;
line-height: 75px;
}

.liam{
background-image: url(img/WIN_20250318_09_30_27_Pro.webp);
border: solid black;
border-radius: 10px;
margin-bottom: 10px;
}

footer{
    text-align: center;
    border: solid 5px black;
    border-radius: 12px;
    grid-column: 1 3;
    display: inline-block;
    margin:  auto;
    padding: 5%;
    background-color: #FF36FC;
}




@media screen and (min-width: 641px) and (max-width: 1024px) {
    .liam {
        display: none;
    }
    body {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        align-items: flex-start; 
    }
    .prod {
        flex: 1 1 70%; 
        margin: 5% auto; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .varukorg {
        flex: 1 1 100%; 
        order: 1; 
        margin-top: 10px; 
    }
    header{
        flex: 1 1 100%;
    }
    
}

@media screen and (max-width: 640px) {
    .liam {
        display: none;
    }
    body {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        align-items: flex-start; 
    }
    .prod {
        flex: 1 1 70%; 
        margin: 5% auto; 
        grid-template-columns: 1fr 1fr ;
    }
    .varukorg {
        flex: 1 1 100%; 
        order: 1; 
        margin-top: 10px; 
    }
    header{
        flex: 1 1 100%;
    }
    
}